<h1>Editing Customer Demographic</h1>

<%= render 'form', customer_demographic: @customer_demographic %>

<%= link_to 'Show', @customer_demographic %> |
<%= link_to 'Back', customer_demographics_path %>
