<h1>Editing Cust Cust Demographic</h1>

<%= render 'form', cust_cust_demographic: @cust_cust_demographic %>

<%= link_to 'Show', @cust_cust_demographic %> |
<%= link_to 'Back', cust_cust_demographics_path %>
