<%= form_with(model: customer_demography) do |form| %>
  <% if customer_demography.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_demography.errors.count, "error") %> prohibited this customer_demography from being saved:</h2>

      <ul>
        <% customer_demography.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
