<%= form_with(model: territory) do |form| %>
  <% if territory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(territory.errors.count, "error") %> prohibited this territory from being saved:</h2>

      <ul>
        <% territory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
